@model BackCursos.Models.Curso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdAlunos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdAlunos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CursoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
